body{
    background: url("../img/check-.jpg");
    background-size: 100% auto; 
    background-repeat: no-repeat;
    background-color: transparent;
    background-attachment: fixed;
    background-position: center;
	background-size: cover;
}
.color-overlay{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #53657d;
	opacity: 0.92;
}
.container{
    padding-top: 40px;
}
.right{
    padding-top: 90px;
    background-color:#C8D4E2;
    height: 105vh; 
}
.left{
    background-color:#FBFCFD;
    height: 105vh; 
}
h2, h5, p{
    text-align: center;
    padding: 25px 25px;
    
}
#left h2, {
    /*color: rgb(121, 4, 121);*/
    color: brown;
}
#right h5,p{
    color: teal;
}

div>ul.nav-spacing>li {
    margin-right: 20px;
}


@media (max-width:500px){
    .right{
    height: 300px;
    }
    .left {
    height: 130vh; 
    }
}