body{
    background: url("../image/check-.jpg");
    width: auto;
    height: 100%;
    background-size: cover; 
    background-repeat: no-repeat;
    background-color: transparent;
    background-attachment: fixed;
    background-position: center;
}
.color-overlay{
    position: absolute;
    overflow: auto;
    background-size: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #53657d;
	opacity: 0.92;
}
/*.flex-container {
    display: flex;
    flex-direction: column;
    
  }

#right{
    /*padding-top: 90px;
    background-color:#C8D4E2;
    
    
}
/*
#left{
    background-color:#FBFCFD; 
    padding-top: 70px; 
}*/
.container{
    padding-top: 50px;
    padding-bottom: 50px;
}
label{
    color: #ffffff;
    font-size: x-large;
}
h5{
    color: rgb(188, 221, 255)!important;
}
h2{
    text-align: center;
    padding-top: 20px ; 
    padding-bottom: 10px;
    color: rgb(188, 221, 255)!important;       
}
h3{
    text-align: center;
    padding-top: 20px ;   
}
p{
    color: red;
}
select{
    color: #53657d;
    font-size: 17px!important;
}
#login{
    background-color: rgb(51, 162, 206);
    color: #ffffff;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}

