/* Sytling for logos in boostrap */
.fa {
    font-size: 20px;
    width: 20px;
    border-radius: 100%;
    padding: 20px;
    text-align: center;

}
#line {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook-square {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-google-plus {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
    background: #00aff0;
    color: white;
}

.fa-android {
    background: #a4c639;
    color: white;
}

.fa-dribbble {
    background: #ea4c89;
    color: white;
}

.fa-vimeo {
    background: #45bbff;
    color: white;
}

.fa-tumblr {
    background: #2c4762;
    color: white;
}

.fa-vine {
    background: #00b489;
    color: white;
}

.fa-foursquare {
    background: #45bbff;
    color: white;
}

.fa-stumbleupon {
    background: #eb4924;
    color: white;
}

.fa-flickr {
    background: #f40083;
    color: white;
}

.fa-yahoo {
    background: #430297;
    color: white;
}

.fa-soundcloud {
    background: #ff5500;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.fa-rss {
    background: #ff6600;
    color: white;
}
.fa-github {
     background: black;
     color: white;
}

/* Jumbotron-Text styling */
.jumbotron-text {
    font-family: Montserrat, sans-serif;
    font-size: 48px;
}
/* Organization-Text Styling for homepage */
.org-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Navbar spacing */
div > ul.nav-spacing > li {
margin-right: 20px;
}

.xh{
    height: 70vh;
}
.pz{
    height: 70vh;
}
